@media (max-width: 84em) {
	.container {
		max-width: 120rem;
	}
	.nav-links {
		gap: 4rem;
	}
	.nav-link {
		font-size: 1.6rem;
		font-weight: 500;
	}
}

/* ////////////// */
/* landscape tablets */
/* 1264 */
@media (max-width: 79em) {
	html {
		font-size: 56.25%;
	}
	.grid-2-column {
		column-gap: 4.8rem;
	}
	.first-heading {
		font-size: 6rem;
	}
	.nav-logo {
		width: 4.4rem;
		height: 4.4rem;
	}
	.nav-links {
		gap: 3.6rem;
	}
	.nav-link {
		font-size: 1.4rem;
		font-weight: 500;
	}
	.btn-register {
		padding: 1rem 1rem;
	}
	.hero-btn {
		font-size: 2rem;
		padding: 1rem 1.4rem;
	}
}

@media (max-width: 60em) {
	/* 960px */
	html {
		font-size: 55%;
	}
	.grid-2-column {
		column-gap: 4rem;
	}
	.grid-3-column {
		column-gap: 3rem;
	}
	.grid-4-column {
		grid-template-columns: 2fr 2fr;
		column-gap: 2.4rem;
	}
	.third-heading-2 {
		font-size: 1.8rem;
	}
	/* .up-footer div {
	} */
	table th {
		font-size: 1.6rem;
	}
	.blog .container .grid-3-column {
		grid-template-columns: 1fr 1fr;
		row-gap: 6.8rem;
	}
}

@media (max-width: 43em) /* 43* 16 = 688px */ {
	html {
		font-size: 50.57%;
	}
	.section {
		padding: 4.8rem 2rem;
	}
	.container {
		padding: 2rem 2rem 2.8rem;
	}
	.hero-text {
		align-items: center;
	}
	.hero-text div {
		text-align: center;
	}
	.hero-text p {
		margin-bottom: 4rem;
	}
	.first-heading {
		font-size: 6rem;
	}
	.second-heading {
		font-size: 4rem;
	}
	.second-heading-2 {
		font-size: 2.4rem;
	}
	.third-heading {
		font-size: 2rem;
	}
	.third-heading-2 {
		font-size: 2rem;
	}

	.grid-2-column {
		display: flex;
		flex-direction: column;
		gap: 6.8rem;
	}
	.grid-3-column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 6.8rem;
	}
	.grid-4-column {
		display: flex;
		flex-direction: column;
		gap: 6.8rem;
	}
	.services .container .grid-3-column {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: self-start;
	}
	.about-list {
		font-size: 2rem;
		row-gap: 1rem;
	}

	.services-content {
		margin-bottom: 0;
	}

	table {
		display: none;
	}

	.logo-slide img {
		height: 65px;
	}

	.down-footer {
		flex-direction: column;
		row-gap: 3rem;
		align-items: center;
	}

	.header button a {
		display: none;
	}

	.nav {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		gap: 4.4rem;
		opacity: 0;
		visibility: hidden;
	}
	.btn-nav-links,
	.nav-links {
		flex-direction: column;
		gap: 4.4rem;
	}
	.nav-link {
		color: #030303;
		font-size: 2.4rem;
		font-weight: 500;
	}
	.mobile-nav {
		width: 100%;
		height: 90vh;
		position: absolute;
		top: 0em;
		left: 65em;
		padding: 9.6rem;
		background-color: var(--background-color);
		opacity: 0;
		z-index: 1000;
		pointer-events: none;
		visibility: hidden;
		opacity: 0;
	}
	.nav-open,
	.mobile-nav {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		left: 0;
		transform: translateX(-4em);
		transition: transform 1s, opacity 0.3s ease-in 0.1s;
		/* transition: transform 0.5s; */
		/* transition-delay: 0s 0s 0.3s; */
	}
	.btn-mobile-nav {
		display: block;
		z-index: 1001;
	}

	.nav-logo-open .mobile-icon[name='close'] {
		display: block;
	}
	.nav-logo-open .mobile-icon[name='menu'] {
		display: none;
	}
}
